* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

h1 {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div {
    width: 70px;
    margin-bottom: 20px;
    border-left: 3px solid black !important;
    border: 3px solid transparent;
    height: 70px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

footer {
    position: absolute;
    bottom: 10px;
    font-size: 13px;
    color: black;
}